* {

    padding: 0;
    margin: 0;
}

.bha__form__overall{
    font-family: 'Young Serif', serif;
    ;

    padding: 50px;
    margin: 30px;
}

.bha__name{

    background-color: black;
    color:white;
    padding: 20px;
    text-decoration: none;
}

.bha_name__1{
    text-decoration: none;
    color:white;
    font-size: 30px;
}

.bha__home {
    background-color: orangered;
    text-decoration: none;
    color: white;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;


}
.bha__position{

    font-size: 40px;
}

.bha__overall__form{

    margin: 20px;
}

.bha_name_field,.bha__email_field,.bha__message_field{

    margin-top: 10px;
    padding: 10px;
    border: none;
   border-bottom: solid black 1px;
}

.bha__submit_btn{

    padding: 10px;
    margin: 10px;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.bha__submit_btn:hover{

    color: black;
    border: solid grey 2px;
}


 .bha__footer{

    background-color: black;
    color: white;
    padding: 20px;

 }
 .bha__footer a{
    color: aqua;
 }