 * {

     padding: 0;
     margin: 0;
 }

 .bha__overall {
     font-family: 'Young Serif', serif;
     ;

     padding: 50px;
     margin: 50px;
 }

 .bha__title {
     background-color: black;
     color: white;
     padding: 30px;
 }

 .bha__name {

     font-size: 60px;
 }

 .bha__contact {
     background-color: orangered;
     text-decoration: none;
     color: white;
     padding: 5px;
     display: inline-block;
     margin-top: 10px;


 }

 .bha__position {

     margin-bottom: 10px;
     font-size: 20px;
 }

 .bha__About,
 .bha__res,
 .bha__skills,
 .bha__skills__1,
 .bha__project,
 .bha__footer {

     margin: 20px;
 }

 .bha__about_1 {

     margin: 10px;
 }

 .bha__res {
    padding: 10px;
   
     background-color: #CBE7DF;
 }
 .bha__res li, .bha__skills__1 li{
    list-style: none;
 }

 .bha__skills{
padding: 10px;
    
 }
 .bha__skills__1{
    background-color: #FDA8B5;
    padding: 10px;
    margin: 10px;
 }
 .bha__project__1 ,.bha__project__2,.bha__project__3{

    background-color: skyblue;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    list-style: none;
    border-radius: 10px;
    height: 100px;
  vertical-align: text-top;
 }

 .bha__project__01, .bha__project__02, .bha__project__03{

    list-style: none;
 }

 .bha__footer{

    background-color: black;
    color: white;
    padding: 20px;

 }
 .bha__footer a{
    color: aqua;
 }