body {

    margin-left: 0px;
    margin-right: 0px;
}


.Trip__header__overall {

    display: flex;
    justify-content: space-around;

    flex-grow: 1;
}



.Trip__header {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: center;


}

.Trip__menu__logo {

    display: flex;
    justify-content: space-between;
    width: 62%;

}

.Trip__header__img1 {

    width: 147px;

}

.Trip__header__img2 {

    width: 27px;
    margin-left: 25px;
}


.Trip__header__list__overall {

    width: fit-content;

    display: flex;
}

.Trip__header__list {
    display: none;
    justify-content: space-between;
    padding: 6px;
}


.Discover,
.Flight {

    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: large;
    cursor: pointer;
}

.Trips,
.Review {

    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;

    font-size: large;
    cursor: pointer;

}

.Discover:hover {
    background-color: #F2F2F2;
    border-radius: 30px;

}

.Flight:hover {
    background-color: #F2F2F2;
    border-radius: 30px;
}

.Trips:hover {
    padding-bottom: none;
    border-bottom: solid black 1px;


}

.Review:hover {

    padding-bottom: none;
    border-bottom: solid black 1px;
}

.Trip__header__end__section {
    display: none;
    margin-right: 30px;
    gap: 20px;
}

.Trip__header__INR {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.Trip__header__globalicon {
    width: 20px;
    height: 20px;
}

.sign__in p {
    display: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 12px;
}


.Trip__section__2 {
    text-align: center;
}

.Trip__section__2 h2 {
    font-size: 40px;
}





@media screen and (min-width:700px) {

    .Trip__header__end__section {

        display: flex;
    }

    .sign__in p {

        display: block;

    }

    .Trip__menu__logo {
        display: flex;
        gap: 20px;
        width: fit-content;
        align-items: center;


    }

    .Trip__header__img1 {
        width: 196px;

    }
}

@media screen and (min-width:800px) {

    /* .Trip__header__overall{

    width: 50%;
} */

    .Trip__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    /* .Trip__header__list__overall {

        margin-left: 100px;
    } */




    .Trip__header__list li {

        text-align: center;
    }
}

@media screen and (min-width:1000px) {






    .Trip__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: -10px;
        /* margin-right: 20px;
        margin-left: 215px; */
    }


    .Trip__header__menubar {

        display: none;
    }

    .Trip__header__list {

        display: flex;
    }

    .Trip__header__list__overall {

        display: flex;
        /* margin-left: 20px; */
        width: fit-content;

    }


    .Trip__header__logo {

        margin-left: 75px;
    }

}




/* Trip__categories__section_css */

.trip__body__section {
    display: none;
}


.Trip__categories__section__ {

    display: flex;
    margin-top: 50px;
    gap: 20px;
    width: 87%;
    transform: translateY(-50%);
    box-sizing: border-box;
    overflow-x: scroll;
    white-space: nowrap;
    align-items: center;
    height: 80px;
    margin-left: 20px;
}





.Trip__categories__section__overall {
    display: flex;
    padding-top: 2px;
    padding-bottom: 3px;
    height: 40px;
    position: relative;

}


.Categ__1 {

    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 9px;
    flex-grow: 1;
    margin: 10px;
    height: 34px;
    margin: 10px 15px 1px 20px;
}




.searchimg {
    padding-top: 2px;
    padding-bottom: 2px;
    width: fit-content;
}

.Categ__1:hover {
    border-bottom: solid black 1px;
    padding-bottom: 3px;
}

.Categ__2 {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 9px;
    flex-grow: 1;
    margin: 10px;
    height: 34px;
    margin: 10px 15px 1px 20px;

}

.Categ__2:hover {
    border-bottom: solid black 1px;
    padding-bottom: 2px;
}

.Categ__3 {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 9px;

    flex-grow: 1;
    margin: 10px;
    height: 34px;
    margin: 10px 15px 1px 20px;


}

.Categ__3:hover {
    border-bottom: solid black 1px;
    padding-bottom: none;
}

.Categ__4 {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 9px;

    flex-grow: 1;
    margin: 10px;
    height: 34px;

    margin: 10px 15px 1px 20px;
}

.Categ__4:hover {
    border-bottom: solid black 1px;
    padding-bottom: none;
}

.Categ__5 {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 9px;
    flex-grow: 1;
    margin: 10px;
    height: 34px;
    margin: 10px 15px 1px 20px;


}

.Categ__5:hover {
    border-bottom: solid black 1px;
    padding-bottom: none;
}

.Categ__1 img,
.Categ__2 img,
.Categ__3 img,
.Categ__4 img,
.Categ__5 img {

    width: 15px;
    height: 16px;
}

@media screen and (min-width:700px) {



    .trip__body__section {

        display: flex;
        justify-content: center;
        position: relative;



        .where__to {
            font-family: 'Jost', sans-serif;
            font-size: 60PX;
            text-align: center;
            width: fit-content;
        }
    }

    .Trip__categories__section__ {
        display: flex;
        margin-top: 10px;
        gap: 20px;
        width: -webkit-fill-available;
        align-items: center;
        overflow-x: hidden;
        justify-content: space-around;
        font-size: large;

        margin-left: 20px;
    }

    .Trip__categories__section__overall {
        width: fit-content;
    }
}

.Trip__search__section__overall {


    margin-top: -20px;

}


.Trip__search__section__1 {
    width: 87%;
    border: solid #E0E0E0 2px;
    margin-left: 24px;
    border-radius: 10px;
    padding: 9px 0px 13px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.Trip__search__section {
    display: flex;
    gap: 10px;
    margin: 4px 0px 0px 0px;
    border-bottom: solid #E0E0E0 2px;
    padding: 20px 0px 15px 14px;
    width: 89%;


}




.search__icon {
    width: 20px;
    height: 20px;
}

.search__area {
    width: 93%;
    outline: none;
    border: none;
    font-size: larger;

}

.Search__button__overall {

    width: 93%;
    display: grid;
    padding: 17px 5px 10px 10px;
    margin: 2px 0px 0px 0px;

}

.search__btn {

    border-radius: 50px;
    background-color: #84E9BD;
    padding: 18px 31px 19px 25px;
}

@media screen and (min-width:700px) {


    .Trip__search__section__overall{

        display: flex;
        justify-content: center;
    }

    .Trip__search__section__1 {

        display: flex;
        width: 87%;
        border: solid #E0E0E0 2px;
        margin-left: 24px;
        border-radius: 50px;
        padding: 5px 0px 5px 0px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .Trip__search__section {
        display: flex;
        gap: 10px;
        margin: 5px 0px 0px 0px;
        border-bottom: none;
        padding: 3px 0px 15px 14px;
        width: 89%;
       
        justify-content: center;
        align-items: center;
    }
    
    
    }
    

    .Search__button__overall {
        width: 15%;
        display: grid;
        padding: 0px 0px 0px 0px;
        margin: 1px 10px 0px 0px;



    }

    .search__btn {

        border-radius: 50px;
        background-color: #84E9BD;
        padding: 0px 0px 0px 0px
    }

