.Trip__header__overall {

    display: flex;
    justify-content: space-around;

    flex-grow: 1;
}



.Trip__header {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: center;


}

.Trip__menu__logo {

    display: flex;
    justify-content: space-between;
    width: 62%;


}

.Trip__header__img1 {

    width: 147px;

}

.Trip__header__img2 {

    width: 27px;
    margin-left: 25px;
}


.Trip__header__list__overall {

    width: fit-content;

    display: flex;
}

.Trip__header__list {
    display: none;


    justify-content: space-between;
    padding: 0px;


}

.Trip__header__list li {

    list-style-type: none;
    padding: 10px;
    font-size: large;

}

.Trip__header__end__section {

    display: flex;

    display: none;

    margin-right: 30px;
    gap: 20px;
}

.Trip__header__INR {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.Trip__header__globalicon {
    width: 20px;
    height: 20px;
}

.sign__in p {
    display: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 12px;
}


.Trip__section__2 {
    text-align: center;
}

.Trip__section__2 h2 {

    font-size: 40px;
}

@media screen and (min-width:700px) {

    .Trip__header__end__section {

        display: flex;
    }

    .sign__in p {

        display: block;

    }

    .Trip__menu__logo {
        display: flex;
        gap: 20px;

        width: 0%;
        align-items: center;


    }

    .Trip__header__img1 {
        width: 196px;
        ;
    }
}

@media screen and (min-width:800px) {



    .Trip__header {
        display: flex;
        justify-content: space-between;


    }


.Trip__header__list__overall{

    margin-left: 100px;
}


    .Trip__header__list {

        display: flex;

       



    }

    .Trip__header__list li {

        text-align: center;
    }

    .Trip__header__menubar {

        display: none;
    }






}

@media screen and (min-width:1000px) {
    .Trip__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

margin-top: -10px;
        margin-right: 20px;
        margin-left: 215px;
    }


    .Trip__header__list__overall {

        display: flex;

       margin-left: 20px;






    }




}