*{

    margin: 0px;
   
}

.Section__one{
   margin-left: 50px;
   margin-right: 50px;
   padding: 20px;
   

    background-color: black;
    color: whitesmoke;
    text-align: center;
}
.Section__one__2,.Section__one__3,.Section__one__4{

    display: inline-block;
    padding: 0px;
}

.Menu__Section_overall{
    padding-left: 300px ;

}

.Section__Two,.Section__Three,.Section__four,.Section__five{
border: solid black 2px;
text-align: center;
    display: inline-block;
    width: 200px;
   padding-left: 10px;
   padding-right: 10px;
    margin-top: 10px;
      
    
}

.Section__Two__1,.Section__Three__1,.Section__four__1,.Section__five__1{
width: 200px;
    height: 300px;
}

.Section__Two__5,.Section__Three__5,.Section__four__5,.Section__five__5{
   background-color: black;
   color: white;
   padding: 5px;
    }

    .Section__six{

        background-color: black;
        padding: 40px;
        text-align: center;
        color: white;
        margin-left: 50px;
   margin-right: 50px;
    }

    .section_row{

        text-align: center;
    }